<fieldset>
    <legend align = "center">
    <h1>New Comment</h1>
    </legend>
    
    <p class="container p-5 m-5 bg-primary text-white"><%=  link_to "Create New comment", new_comment_path %><br></p>
    <p ><%= link_to 'Back', :back %></p>
</fieldset>
